@media screen and (max-width:600px) {
    /******** Navigation ********/
    .side-menu{
        transition: .3s all ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        padding: 50px 0 ;
        background-color: rgba(255, 255, 255, 0.932);
        height: 100vh;
        width: 40vw;
    }
    
    .side-menu.hidden{
        transform: translateX(-100vw);
    }

    .side-menu.show{
        transform:translateX(0);
    }

    .sidemenu-list{
        width: 100%;
    }

    .sidemenu-toggler{
        position: fixed;
        top: 10px;
        left: 10px;
        background: white;
        z-index: 99999;
        border: none;
    }

    .sidemenu-close-bg{
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        transition: .1s all ease-in-out;
    }

    .sidemenu-close-bg.show{
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.575);
    }

    .sidemenu-close-bg.hidden{
        z-index: -9;
        background-color: rgba(255, 255, 255, 0);
    }
}